repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=10000']

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language: system

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        language: system

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        language: system

  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        args: ["-ll", "-r", "src"]
        language: system
        files: src/.*
        pass_filenames: false

      - id: pip-audit
        name: pip-audit
        entry: pip-audit
        args: ["-r", "requirements.txt"]
        language: system
        files: requirements.txt
        pass_filenames: false

      - id: pytest
        name: pytest
        entry: pytest
        language: system
        pass_filenames: false
        always_run: true
